#form-field {
    width: 100%;
    height: 700px;
    background: linear-gradient(to top left, #0b0c10, #1f2833);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#input-form {
    width: 500px;
    height: 600px;
    border-radius: 20px;
    background: linear-gradient(to top right, #45a29e, #66fcf1);
}

#output-form {
    width: 500px;
    height: 600px;
    border-radius: 20px;
    background: linear-gradient(to bottom left, #45a29e, #66fcf1);
}